{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>View Pages</h1>

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{% url 'encyclopedia:entry_page' entry %}">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>
    <h1>Delete Pages</h1>

    <ul>
        {% for entry in entries %}
            <li>
                <a href="{% url 'encyclopedia:deletepage' entry %}">❌ {{ entry }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}