{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>
        Create New Page
    </h1>
    <form action="{% url 'encyclopedia:save' %}" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="title" placeholder="Enter a title">
            <div>Enter your Markdown Content for your Page:</div>
            <textarea name="content" rows="5" cols="30"></textarea>
        </div>
        <input type="submit">
    </form>

    <a href="{% url 'encyclopedia:index' %}">Go back</a>
{% endblock %}